@fuxia: #EC3E7A;
@borders: #D62DBD;
div.appui-password {
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: auto;
	div.appui-password-container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		.bbn-input {
			&:focus{
				border-color: @borders!important;
			}
			width: 100%;
			input {
				text-align: center;
			}
		}
		div.appui-password-logo {
			img {
				transform: scale(0.9);
				max-width: 500px;
				height: auto;
				.bbn-mobile & {
					max-width: 90%;
				}
				.bbn-mobile.bbn-tablet & {
					max-width: 80%;
				}
			}
			p{
				color: @fuxia;
				//margin-top: 0;
				font-size: 90px;
			}
		}
		form{
			.bbn-button{
				width: 40%;
				background: unset;
				background-color: @fuxia;
				border-color: @fuxia;
				&:focus{
					border-color: @borders!important
				}
			}
		}
		.bbn-mobile & {
			.bbn-input {
				width: 90%;
			}
		}
	}
}

