div.appui-login {
	opacity: 0;
	height: 100%;
	overflow: auto;
	div.container {
		display: flex;
		flex-direction: column;
		.bbn-input {
			width: 100%;
			input {
				text-align: center;
			}
		}
		div.logo {
			img {
				max-width: 500px;
				height: auto;
			}
		}
	}
}
